table {
    width: 100%; /* Ширина таблицы */
    /*background: rgb(248, 223, 149); /* Цвет фона таблицы */
    border-spacing: 1px; /* Расстояние между ячейками */
}
td, th {
    /*background: #972941; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг текста */
}
/* menu link */
.link {
    text-decoration: none;
    outline: none;
    padding: 12px 40px;
    margin: 10px 20px;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, 0.37);
    transition: .5s;
}
.link:active {
    box-shadow: 0 0 0 0 rgba(0,40,120,0);
    background-position: 0 0;
}
a {
    display: block;
}
audio {
    display: none;
}
.green {
    background: #D9FFAD
}